########################
### ULTIMHEAT.CO.TH  ###
########################


upstream s3-bucket {
    server blueink.us-east-1.linodeobjects.com;
}

log_format upstream_logging '[$time_local] $remote_addr - $remote_user - $server_name to: $upstream_addr: $request upstream_response_time $upstream_response_time msec $msec request_time $request_time';

proxy_cache_path   /tmp/ levels=1:2 keys_zone=s3_cache:10m max_size=500m inactive=60m use_temp_path=off;

server {

  listen 80;
  listen [::]:80;
  server_name s3linode.ultimheat.co.th;
  #resolver 8.8.8.8;
  root /www/ultimheat.co.th/;
  index index.html;


  access_log /var/log/nginx/s3linode.access.log upstream_logging;
  error_log /var/log/nginx/s3linode.error.log info;


location /editora/ {
  alias /www;
  }

location / {
  #try_files $uri $uri.html $uri/index.html $uri/ =404;
      proxy_http_version     1.1;
      proxy_set_header       Connection "";
      proxy_set_header       Authorization '';
      proxy_set_header       Host blueink.us-east-1.linodeobjects.com;
      proxy_hide_header      x-amz-id-2;
      proxy_hide_header      x-amz-request-id;
      proxy_hide_header      x-amz-meta-server-side-encryption;
      proxy_hide_header      x-amz-server-side-encryption;
      proxy_hide_header      Set-Cookie;
      proxy_ignore_headers   Set-Cookie;
      proxy_intercept_errors on;
      add_header             Cache-Control max-age=31536000;
      proxy_pass             http://blueink.us-east-1.linodeobjects.com/;

     proxy_cache_revalidate on;
     proxy_cache_use_stale  error timeout updating http_500 http_502 http_503 http_504;
     proxy_cache_lock       on;
     proxy_cache_valid      200 304 60m;
     add_header             X-Cache-Status $upstream_cache_status;
     proxy_cache            s3_cache;
  }

} # server

##########################################################################################

server { ## listen for ipv4; this line is default and implied
   server_name ultimheat.co.th www.ultimheat.co.th;
   # root /home/dkz/tmp/git-u7/blueink;
   # root /www/224-co.th/www;
   root /www/ultimheat.co.th; # soft link to ultimheat5.co.th
   # root /www/design.eglogics.website;
   index index.html;
   autoindex on;

#location ~* \.pdf$ {
#   limit_req zone=pdf_zone burst=5;
#   }

location / {
  try_files $uri $uri.html $uri/index.html $uri/ =404;
}

location /api {
   if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        #
        # Custom headers and headers various browsers *should* be OK with but aren't
        #
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
        #
        # Tell client that this pre-flight info is valid for 20 days
        #
        add_header 'Access-Control-Max-Age' 1728000;
        add_header 'Content-Type' 'text/plain; charset=utf-8';
        add_header 'Content-Length' 0;
        return 204;
     }
     if ($request_method = 'POST') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
        add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
     }
     if ($request_method = 'GET') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS';
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range';
        add_header 'Access-Control-Expose-Headers' 'Content-Length,Content-Range';
     }
    proxy_pass http://127.0.0.1:32031;
    proxy_set_header HOST $host;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    # proxy_set_header Connection $connection_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header X-Forwarded-For $remote_addr; # preserve client IP
    proxy_set_header X-Real-IP $remote_addr;
  }


location /editora {
#    rewrite ^/editora(.*) /$1 break;
    proxy_pass http://127.0.0.1:32046/editora;
    proxy_redirect off;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    # proxy_set_header Connection $connection_upgrade;
    proxy_set_header Connection 'upgrade';
    proxy_set_header X-Forwarded-For $remote_addr; # preserve client IP
    proxy_set_header X-Real-IP $remote_addr;
  }
                          
                          
location /testproxy {
      add_header X-uri-dkz "Hello Article-$1";
      #proxy_pass http://127.0.0.1:32020/museum-app/xp/article/$1;
      proxy_pass http://127.0.0.1:32044/testproxy;
      proxy_http_version 1.1;
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';
      proxy_set_header X-Forwarded-For $remote_addr; # preserve client IP
      proxy_set_header X-Real-IP $remote_addr;
  }



    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/ultimheat.co.th/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/ultimheat.co.th/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}


###################################################################################

server {
  if ($host = ultimheat.co.th) {
    return 301 https://$host$request_uri;
  } # managed by Certbot

  if ($host = www.ultimheat.co.th) {
    return 301 https://$host$request_uri;
  }


  listen 80;
  listen [::]:80;
  server_name ultimheat.co.th www.ultimheat.co.th;
  return 404; # managed by Certbot

}                                                                                                                                                                                  223,13        99%

